body{
  text-align: center;
  font-family: Helvetica, sans-serif;

}

#Broad {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);

}
.cta {
  font-size: 18px;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: White;

}

h2 {
  font-size: 32px;
  font-weight: Bold;

}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
.newyork {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.b2017{
  font-size: 11px;
  color: White;
  background-color: dimgray;
  text-align: left;
}
.bot{
  color: white;
  background-color: dimgray;
  text-align: left;
  font-size: 18px;

}
